.submit-pg {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0px 70px;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #007bff;
  }
  
  p {
    color: #333;
    line-height: 1.5;
  }
  
  .back-link {
    margin-top: 20px;
  }
  
  .back-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .back-link a:hover {
    text-decoration: underline;
  }
  