body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.section{
  list-style: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding:5px 0px;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
}
.section h4{
  font-size: small;
  margin-bottom: 2px;
}
.section p{
  font-size: x-small;
  padding: 0px 8px;
}

ul{
  padding-inline-start: 15px;
}
.section-title{
  color: #007bff;
  background-color: aliceblue;
  padding: 10px 25px;
  border-radius: 5px;
  
}
.form-box{
  width:515px;
  padding: 10px 80px 20px 80px;
}
.link{
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
}

p{
  color: grey;
}
.li-text{
  color: grey;
  font-size: x-small;
  padding: 5px 60px;
}
.form-container{
  display: flex;
  padding: 10px 50px;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 953px;
}
.form{
  background-color: white;
  border-radius: 10px;
  padding: 5rem 5rem;
  width: 718px;
}
textarea{
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}
label{
  margin: 5px 0px;
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc
}
.sidebar{
  width:300px
}
.section.active {
  background-color: skyblue;
  border: 1px solid blue;
  color: blue;
}
.btn{
  border: 1px solid blue;
  background-color: skyblue;
  border-radius: 5px;
  color: blue;
  padding: 0.5rem 1rem;
}
.f-btn{
  border: 1px solid gray;
  background-color: lightslategrey;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.btn-box{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 12rem;
  background-color: gainsboro;
}
.btn-Container{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}
.btn-Container-2{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.flex{
  display: flex;
  justify-content: space-evenly;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.navbar{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid grey;
}
.nav-item{
  padding-right: 10px;
  color:grey;
  border-radius: 55%;
  padding: 0.7px 4px;
  margin-right: 5px;
  border: 1px solid grey;
}
.nav-item-active{
  padding-right: 10px;
  color:green;
  border-radius: 55%;
  padding: 0.7px 4px;
  margin-right: 5px;
  border: 1px solid green;
}
